/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.header {
    background: #444444;
    /*
      Hozzáadtam egy 100px-es alsó margin-t. Ha hiányzik a 4. elem, akkor automatikusan a "párját" veszi, azaz a 2.-at.
      Ez azt jelenti, hogy: "0 auto 100px auto"
    */
    margin: 0 auto 100px;
    width: 100%;
    display: block;
    clear: both;
}

.header .logo {
    float: left;
    margin: 10px 0; /* A baloldali szövegeKET beigazítjuk "középre" függőlegesen azáltal, hogy felül és alul is 10-10px margót kap. */
}

.header h1 {
    color: white;
    font-size: 23px;
    line-height: 30px;

}

.header p {
    color: #666;
    font-size: 14px;
    line-height: 30px;
}

.header .wrapper {
    width: 1000px; /* Erre írtam, hogy 1000px */
    margin: 0 auto;
}

.header .icons {
    float: right;
}

/*
 Itt adjuk meg, hogy a fejlécben szereplő ikonok kapjanak szürke, kör alakú hátteret és legyen nagyobb a méretük.
 */
.header .fa {
    background: #666;       /* Ez a körpaca "háttérszíne" */
    border-radius: 50%;     /* Itt a sarkok lekerekítését adjuk meg. Az 50%-kal egy olyan hatást érünk el, hogy egy kört kapunk végeredményben */
    /* Méretek megadása: */
    font-size: 24px;
    line-height: 36px;      /* Fontos megadni a line-height-ot, hogy függőlegesen középre kerüljön a szöveg */
    width: 36px;            /* A szélesség és magasság megadása ugyanolyan fontos, különben óválisokat kapunk, kör helyett */
    height: 36px;
    /* Az inline elemeknek nem lehet szélessége, ezért block kellene nekünk, hogy kört kapjunk és vízszintesen is középre
    tudjunk igazítani. Ezért a kettő kombinációja fog nekünk kelleni, egy inline block */
    display: inline-block;
    text-align: center;     /* Vízszintesen is középre igazítunk, hogy a kör közepén legyenek a jelek */
    margin: 10px 0 0 10px;  /* Magát a köröket pozícionáljuk egymáshoz képest. Beállítjuk, hogy fent és balra 10px távolságot tartsanak */
    color: #333;            /* Ilyen színű lesz az ikon, mint a háttér, így úgy fest, mint ha átlátszó lenne. */
}

.cl {
    clear: both;
}

/*
 A `.content`-et önmagában nem szabályozzuk, jó úgy nekünk alapból, ahogy van. A benne lévő tartalmat a `.wrapper`-rel
 szabályozzuk.
*/
.content .wrapper {
    width: 760px;
    margin: 0 auto;
}

/*
 Az itt megadott `.content h1` és az `.item h1` "ütötte" egymást, hiszen mindkét szabály kb ugyanarra
 az elemre vonatkozott.
*/

.item {
    /* Nem kell megadni a width 100%-ot, mert alapból annyit, kivéve, ha floatolod, vagy ilyesmi */
    padding: 0 0 80px;
    background: url(divider.png) no-repeat bottom center;
    background-size: auto 23px;
    /* magasság sem kell neki */
    margin: 0 0 60px;
    /* text-decoration -nal itt nem kell foglalkozni */
}

.item h1 {
    font-size: 47px;
    line-height: 60px;
    text-align: center; /* A margin: 0 auto; csak szélességgel rendelkező inline elemekre használható csak. Ezt a `.content h1`-nél próbáltad. */
}

.item p {
    width: 400px;
    text-align: center;
    margin: -270px 400px;

}

/* Ez az `.item .icon` jó lett volna, ha lett volna egy <div class="icon">...</div> De ilyen nem volt :) */

.content .item img {
    /* Nem kell pozícionálni különösebben, csak méretezni és float-olni */
    width: 220px;
    height: 150px;
    float: left;
}

/* Ez a `.content .item` sem kell. Felülírod vele a `.item`-ben megadott szabályokat. */

/*
  Mivel a képet floatoljuk, ezért kell vmi az .item aljára, amivel a floatokat "reseteljük".
  Pont jól jön hogy van egy "lábléce" minden cikk itemnek, ezért keratívan ennek adjuk meg, hogy
  rendezze a float miatti sorokat.
*/
.content .footer {
    clear: both;
}